<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HHCS Control Panel</title>

<!-- CSS -->
<link href="style/css/transdmin.css" rel="stylesheet" type="text/css" media="screen" />
<!--[if IE 6]><link rel="stylesheet" type="text/css" media="screen" href="style/css/ie6.css" /><![endif]-->
<!--[if IE 7]><link rel="stylesheet" type="text/css" media="screen" href="style/css/ie7.css" /><![endif]-->

<!-- JavaScripts-->
<script type="text/javascript" src="style/js/jquery.js"></script>
<script type="text/javascript" src="style/js/jNice.js"></script>
</head>

<body>
	<div id="wrapper">
    	<!-- h1 tag stays for the logo, you can use the a tag for linking the index page -->
    	<h1><a href="#"><span>HHCS Control Panel</span></a></h1>
        
        <!-- You can name the links with lowercase, they will be transformed to uppercase by CSS, we prefered to name them with uppercase to have the same effect with disabled stylesheet -->
        <ul id="mainNav">
        	<li><a href="#" class="active">ZONES</a></li> <!-- Use the "active" class for the active menu item  -->
        	<li><a href="#">RELAYS</a></li>
        	<li><a href="#">SENSORS</a></li>
        	<li><a href="#">OPTIONS</a></li>
        	<li class="logout"><a href="#">LOGOUT</a></li>
        </ul>
        <!-- // #end mainNav -->
        
        <div id="containerHolder">
			<div id="container">
        		<div id="sidebar">
                	<ul class="sideNav">
                    	<li><a href="#" class="active">All Zones</a></li>
                    	<li><a href="#">Add new Zone</a></li>
                    </ul>
                    <!-- // .sideNav -->
                </div>    
                <!-- // #sidebar -->
                
                <!-- h2 stays for breadcrumbs -->
                <h2><a href="#">Zones</a> &raquo; <a href="#" class="active">List Zones</a></h2>
                
                <div id="main">
                	<form method="POST" action="/zones/add" class="jNice">
					<h3>Zones</h3>
                    	<table cellpadding="0" cellspacing="0">
			 
			{% for zonename, zonevalues in zones.iteritems() %}
				<tr><td>{{zonevalues['name']}}</td><td> {{zonevalues['temperature']}}</td><td>23</td><td class="action"><a href="/zones/edit/{{ escape(zonename)}}" class="edit">Edit</a><a href="/zones/delete/{{ escape(zonename)}}" class="delete">Delete</a></td></tr>
			{% end %}
			
                        </table>
					<h3>Add New Zone</h3>
                    	<fieldset>
                        	<p><label>Zone name:</label><input type="text" name="zonename" class="text-long" /></p>
                        	<p><label>Temperature:</label><input type="text" name="zonetemp" class="text-long" /></p>
                        	<p><label>Histeresis:</label><input type="text" name="zonehist" class="text-long" /></p>
                            <p><label>Enabled </label>
                            <select name="enabled">
                            	<option value="1">Enabled</option>
                            	<option value="0">Disabled</option>
                            </select>
                            <p><label>Sensor </label>
                            <select name="sensor">
                        	{% for sensor in sensors %}
          				<option value="{{ escape(sensor)}}">{{ escape(sensor)}}</option>
        			{% end %}
                            </select>

                            <p><label>Relay </label>
                            <select name="relay">
				{% for relay in relays %}
					<option value="{{ escape(relay)}}">{{ escape(relay)}}</option>
				{% end %}
                            </select>
                            <input type="Submit" value="Create Zone" />
                        </fieldset>
                    </form>
                </div>
                <!-- // #main -->
                
                <div class="clear"></div>
            </div>
            <!-- // #container -->
        </div>	
        <!-- // #containerHolder -->
        
        <p id="footer">Feel free to use and customize it. <a href="http://www.perspectived.com">Credit is appreciated.</a></p>
    </div>
    <!-- // #wrapper -->
</body>
</html>


