<html>

<table>
{% for zonename, zonevalues in zones.iteritems() %}
	<tr><td>{{ escape(zonename)}}</td><td>{{zonevalues['temperature']}}</td><td><a href="/zones/edit/{{ escape(zonename)}}">edit</a></td><td><a href="/zones/delete/{{ escape(zonename)}}">delete</a></td></tr>
{% end %}
</table>
	<form method="POST" action="/zones/add">
		<table>
		<tr><td>Zone name:</td><td> <input name="zonename" type="text"/></td></tr>
		<tr><td>Zone temperature:</td><td> <input name="zonetemp" type="text"/></td></tr>
		<tr><td>Zone histeresis:</td><td> <input name="zonehist" type="text"/></td></tr>
		<tr><td>Zone enabled:</td><td> <select name="enabled">
			<option value="1">Enabled</option>
			<option value="0">Disabled</option>
		</select>
		</td></tr>
		<tr><td>Zone sensor:</td><td> <select name="sensor">
			{% for sensor in sensors %}
          			<option value="{{ escape(sensor)}}">{{ escape(sensor)}}</option>
        		{% end %}
		</select>
		</td></tr>
		<tr><td>Zone relay:</td><td> <select name="relay">
			{% for relay in relays %}
          			<option value="{{ escape(relay)}}">{{ escape(relay)}}</option>
        		{% end %}
		</select>
		</td></tr>
		
		<tr><td><input type="submit" value="Create"/></td></tr>
	</form>

</html>
