<html>

<table>
{% for zonename, zonevalues in zones.iteritems() %}
	<tr><td>{{ escape(zonename)}}</td><td>{{zonevalues['temperature']}}</td><td><a href="/zones/edit/{{ escape(zonename)}}">edit</a></td><td><a href="/zones/delete/{{ escape(zonename)}}">delete</a></td></tr>
{% end %}
</table>
	<form method="POST" action="/zones/add">
		<p>Zone name: <input name="zonename" type="text"/></p>
		<p>Zone temperature: <input name="zonetemp" type="text"/></p>
		<p>Zone histeresis: <input name="zonehist" type="text"/></p>
		<p>Zone enabled: <select name="enabled">
			<option value="enabled">Enabled</option>
			<option value="disabled">Disabled</option>
		</select>
		</p>
		<p>Zone sensor: <select name="sensor">
			{% for sensor in sensors %}
          			<option value="{{ escape(sensor)}}">{{ escape(sensor)}}</option>
        		{% end %}
		</select>
		</p>
		<p>Zone relay: <select name="relay">
			{% for relay in relays %}
          			<option value="{{ escape(relay)}}">{{ escape(relay)}}</option>
        		{% end %}
		</select>
		</p>
	
		<p><input type="submit" value="Create"/></p>
	</form>

</html>
